<div class="article col col-4 col-d-6 col-m-12 grid__post fadein">
  {% if post.video %}
    {% assign yt_id = post.video | split: '/' | last %}
    <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
      <div class="thumb-wrapper">
        <img src="https://img.youtube.com/vi/{{yt_id}}/maxresdefault.jpg" alt="{{post.title}} video thumbnail">
        <span class="play-button"></span>
      </div>
    </a>
  {% elsif post.image %}
    <a class="article__image" href="{{post.url | prepend: site.baseurl}}">
      <div class="thumb-wrapper">
        <img src="{{site.baseurl}}{{post.image}}" alt="{{post.title}}">
      </div>
    </a>
  {% endif %}
  <div class="article__content">
    <!-- <div class="article-tags">
      {% if post.categories and post.categories.size >= 1 %}
      <div class="article-tags__box">
        {% for category in post.categories %}
        <a href="{{ site.baseurl }}/category/{{ category | slugify }}/" class="article__tag">{{ category }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div> -->
    <h2 class="article__title">
      <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
    </h2>
    <p class="article__excerpt">
      {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | truncate: 160 }}{% endif %}
    </p>
  </div>
</div>