---
layout: default
---

<div class="container">
  <div class="row">
    <div class="col col-12 col-d-10 push-d-1">
      <div class="archive-box">
        <span class="archive-meta">All posts in category</span>
        <h1 class="archive-title">{{ page.category }}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12 col-d-10 col-m-12 push-m-0 push-d-1">
			<div class="container__inner">
				<div class="contaniner__inner-box">
					<div class="row grid">
            {% assign category_posts = site.posts | where_exp: "post", "post.categories contains page.category" %}
            {% for post in category_posts %}
              {% include article-content.html %}
            {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 